<%= simple_form_for(tour) do |f| %>

  <%= f.input :name %>

  <label for="description">Description</label>

  <%= f.text_area :description, label: 'Description', class: 'form-control input-lg', rows: '7' %><br />

  <%= f.button :submit, class: 'btn btn-black btn-lg btn-block' %>

<% end %>
