<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">

			<h1>
				<%= @tour.name %> <small class="pull-right">@santo</small>
			</h1>					

			<h3>
				$100 MXN
			</h3>

			<dl>

				<dt>
					<strong>
						Descripcion
					</strong>
				</dt>

				<dd>
					<%= simple_format(@tour.description) %>
				</dd>

				<dt>
					<strong>
						Quantity
					</strong>
				</dt>

				<dd>
					<select class="form-control input-lg">
						<option>1</option>
					  	<option>2</option>
					  	<option>3</option>
					  	<option>4</option>
					  	<option>5</option>
					</select>
				</dd>

			</dl>

			<a href="#" id="morepics" type="button" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> More Pics
			</a>
			<button id="askAQuestion" type="button" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ask a Question
			</button>
			<button id="addToCart" type="button" class="btn btn-default btn-lg btn-block">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart
			</button>
		</div>

		<div class="panel-footer">
			<span class="glyphicon glyphicon-share" aria-hidden="true"></span> Share: 
			<!--start:bootstrap social-->
			<a class="btn btn-social-icon btn-lg btn-twitter">
				<i class="fa fa-twitter"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-pinterest">
				<i class="fa fa-pinterest"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-facebook">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="btn btn-social-icon btn-lg btn-google">
				<i class="fa fa-google-plus"></i>
			</a>				
			<!--end:bootstrap social-->
		</div>
	</div>
</div>

<div class="col-md-6">
	<div class="panel panel-default">
		<div class="panel-body">

			<%=
			map(:container_id => "mymap",
				  :center => {
			  :latlng => [51.505, -0.09],
			  :zoom => 13
			})
			%>

			<h2>
				Images
			</h2>

			<%= image_tag '1.jpg', class: 'img-responsive', alt: @tour.name %>
			
		</div>	
	</div>
</div>	