<div class="container-fluid footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">
				
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">

				<%= image_tag 'app_store.png', class: 'img-responsive apps' %>
				<%= image_tag 'google_play.png', class: 'img-responsive apps' %>

				<!--start:bootstrap social-->
				<a class="btn btn-social-icon btn-lg btn-twitter">
					<i class="fa fa-twitter"></i>
				</a>
				<a class="btn btn-social-icon btn-lg btn-pinterest">
					<i class="fa fa-pinterest"></i>
				</a>
				<a class="btn btn-social-icon btn-lg btn-facebook">
					<i class="fa fa-facebook"></i>
				</a>
				<a class="btn btn-social-icon btn-lg btn-google">
					<i class="fa fa-google-plus"></i>
				</a>				
				<!--end:bootstrap social-->
			
				© 2016 BRAND

			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 footer-background-color">
		
			</div>	

		</div>
	</div>
</div>