<a class="btn btn-block btn-lg btn-social btn-google">
  <span class="fa fa-google"></span> Sign in with Google
</a>
<a class="btn btn-block btn-lg btn-social btn-facebook">
  <span class="fa fa-facebook"></span> Sign in with Facebook
</a>
<a class="btn btn-block btn-lg btn-social btn-twitter">
  <span class="fa fa-twitter"></span> Sign in with Twitter
</a>