<a class="btn btn-social-icon btn-lg btn-twitter">
  <i class="fa fa-twitter"></i>
</a>
<a class="btn btn-social-icon btn-lg btn-pinterest">
  <i class="fa fa-pinterest"></i>
</a>
<a class="btn btn-social-icon btn-lg btn-facebook">
  <i class="fa fa-facebook"></i>
</a>
<a class="btn btn-social-icon btn-lg btn-google">
  <i class="fa fa-google-plus"></i>
</a>
<a class="btn btn-social-icon btn-lg btn-reddit">
  <i class="fa fa-reddit"></i>
</a> 
